* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #313131;
    color: white;
}


/*GLOBALES*/

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
    color: white;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}
img{
	max-width: 100%;
}
a{
	text-decoration: none;
}
.center {
    text-align: center;
}


/* NAVBAR */
.logo{
	max-width: 100%;
	width: 50px;
	height: 50px;
}
#navbar {
	background-color: #1f1f1f;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	z-index: 100;
	overflow: hidden;
}
#navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#navbar li{
	float: left;
}
#navbar li a{
	padding: 15px;
	display: inline-block;
	text-decoration: none;
	font-size: 1em;
	text-align: center;
	color: white;
}
#navbar li.active a{
	color:#5ac2ff;
}
#navbar li a:hover{
	color: #5ac2ff;
}
.myicono {
	color:aliceblue;
	font-size: 1.5em;
	padding: 10px;
	display: none;
	text-align: right;
}
.lista-sm {
	display: block;
}
@media screen and (max-width: 600px){
	.lista-sm{
		display: none;
	}
	#navbar{
		display: block;
	}
	#navbar li{
		float: none;
		display: block;
	}

	#navbar li a{
		padding: 5px;
		text-align: left;
		width: 100%;
	}
	.myicono{
		display: block;
	}
	.logo{
		display: none;
	}
}
/* IMAGEN HEADER */
.contenido-header {
    background-image: url(../images/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;
}

.contenido-header h1 {
    text-align: center;
    padding-top: 30%;
    color: rgb(20, 167, 130);
    font-family: 'Poppins', sans-serif;
}


/* -------------------------------------------- CONTENIDO MAIN  -------------------------------------- */


/* NOSOTROS */

.contenido {
    background: #313131d3;
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 7%;
    padding-bottom: 8%;
}

.columnas {
    display: flex;
}

.contenido h3 {
    color: #6cc8fd;
    margin-top: 6%;
    margin-bottom: 5%;
}

.contenido p {
    color: white;
    margin-bottom: 10%;
}

.contenido img {
    width: 75%;
    margin-top: 15%;
    background: none;
    padding: 0;
    color: none;
}


/* SERVICIOS */

.servicios {
    background: #313131ec;
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 8%;
}

.columnas {
    display: flex;
}

.servicios h3 {
    color: white;
    margin-top: 6%;
    margin-bottom: 5%;
}

.servicios h4 {
    font-size: 3.8rem;
    color: rgb(50, 144, 135);
}

.servicios p {
    color: white;
    margin-bottom: 10%;
}

.servicios img {
    width: 75%;
    margin-top: 15%;
}


/* -------------------------FOOTER -------------------------------- */

footer {
    background-color:#0e0e0e;
    color: white;
}
footer p{
  margin: 0;
}

 /*--------COSILLAS RESPONSIVE-----*/
 @media screen and (max-width: 600px){
 	.lista-sm{
 		display: none;
 	}

 	#navbar li{
 		float: none;
 		display: block;
 	}

 	#navbar li a{
 		padding: 5px;
 		text-align: left;
 		width: 100%;
 	}
 	.myicono{
 		display: block;
 	}
 }
