body {
    font-size: 1.6rem;
    line-height: 2;
    background-color: white;
    color: black;
}

h5 {
    padding-top: 5%;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 100%;
    color: #5ac2ff;
    font-weight: 600;
}

.contenido-header-ns {
    background-image: url(../images/header-nosotros.jpg);
    height: 40vh;
    background-position-x: center;
}

.header-mobile {
    display: none;
}


/* MAIN */

.contenedor {
    max-width: 140rem;
    margin: 0 auto;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenido-centrado {
    max-width: 100rem;
    text-align: center;
}


/* COLUMNAS */

.ns-cols {
    display: flex;
    margin: 4% 5%;
}

.ns-col-1 {
    display: inline-block;
    width: 30%;
}

.ns-col-2 {
    display: inline-block;
    width: 70%;
    margin-left: 5%;
}

.ns-valores {
    margin: 3% 5%;
    width: 50%;
}


/* FOOTER*/

footer {
    background-color: #313131;
    color: white;
}

@media screen and (max-width: 990px) {
    .contenido-header-ns {
        display: none;
    }
    .header-mobile {
        display: block;
        padding-top: 9vh;
        width: 100%;
        height: 100%;
    }
    .contenedor {
        margin: 0;
    }
    .contenido-centrado {
        text-align: center;
    }
    /* COLUMNAS */
    .ns-cols {
        display: block;
    }
    .ns-col-1 {
        width: 100%;
    }
    .ns-col-1 img {
        width: 100%;
        margin: 2% 0 8% 0;
    }
    .ns-col-2 {
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .ns-valores {
        margin: 3% 5%;
        width: 50%;
    }
    .ns-valores {
        margin: auto;
        width: 100%;
    }
}