body {
    font-size: 1.6rem;
    line-height: 2;
    background-color: white;
    color: black;
}

h5 {
    padding-top: 5%;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 100%;
    color: #5ac2ff;
    font-weight: 600;
}

h6 {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 100%;
    color: #5ac2ff;
    font-weight: 600;
}

.contenido-header-sv {
    background-image: url(../images/header-proyectos.jpg);
    height: 40vh;
}


/*--------------- MAIN ---------------------*/

.contenedor {
    max-width: 130rem;
    margin: auto;
    text-align: center;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* ------------------------FOOTER--------------------------*/

footer {
    background-color: #313131;
    color: white;
}

@media screen and (max-width: 990px) {
    .contenido-header {}
}