body {
    font-size: 1.6rem;
    line-height: 2;
    background-color: white;
    color: black;
}

h5 {
    padding-top: 5%;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 100%;
    color: #5ac2ff;
    font-weight: 600;
}

h6 {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 100%;
    color: #5ac2ff;
    font-weight: 600;
}

.contenido-header-sv {
    background-image: url(../images/header-servicios.jpg);
    height: 40vh;
    background-position-x: center;
    background-repeat: no-repeat;
}

.header-mobile {
    display: none;
}


/*--------------- MAIN ---------------------*/

.contenedor {
    max-width: 130rem;
    margin: auto;
    text-align: center;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* --------------------COLUMNAS--------------------------*/

.cards-sv {
    max-width: 85%;
    margin: auto;
}

.sv-cols {
    display: flex;
    justify-content: space-around;
}

.sv-col {
    margin: 4% 1% 0 1%;
}


/*------------------- OTROS SERVICIOS--------------------*/

.otros-sv {
    margin: 4% 5%;
}

.otros-sv h6 {
    font-size: 120%;
}

.otros-svs1 {
    margin: 2%;
    text-align: start;
    display: flex;
    justify-content: space-around;
}

.otros-svs1 img {
    width: 40%;
}

.otros-svs2 {
    margin: 2%;
    text-align: start;
    display: flex;
    justify-content: space-around;
}

.otros-svs2 img {
    width: 40%;
}


/* ------------------------FOOTER--------------------------*/

footer {
    background-color: #313131;
    color: white;
}

@media screen and (max-width: 990px) {
    .contenido-header-sv {
        display: none;
    }
    .header-mobile {
        display: block;
        padding-top: 9vh;
        width: 100%;
        height: 100%;
    }
    .contenedor {
        margin: auto;
        width: 90%;
    }
    .cards-sv {
        margin: auto;
    }
    .sv-cols {
        display: block;
        margin: auto;
    }
    .card {
        margin: auto;
    }
    .otros-sv {
        margin: auto;
    }
    .otros-svs1 {
        margin: 2%;
        text-align: start;
        display: block;
        justify-content: space-around;
    }
    .otros-svs1 img {
        margin: 2% 0 4% 0;
        width: 100%;
    }
    .otros-svs2 {
        margin: 2%;
        text-align: center;
        display: block;
        padding-bottom: 5%;
    }
}