body {
    font-size: 1.6rem;
    line-height: 2;
    background-color: white;
    color: black;
}

h5 {
    padding-top: 5%;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 100%;
    color: #5ac2ff;
    font-weight: 600;
}

h6 {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 100%;
    color: #5ac2ff;
    font-weight: 600;
}

.contenido-header-ns {
    background-image: url(../images/header-servicios.jpg);
    height: 40vh;
}


/* MAIN */

.contenedor {
    max-width: 140rem;
    margin: 0 auto;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenido-centrado {
    max-width: 100rem;
    text-align: center;
}


/* COLUMNAS */

.sv-cols {
    display: flex;
    margin: 4% auto 5% auto;
    text-align: center;
}

.sv-col {
    display: inline-block;
    width: 30%;
}

.ns-valores {
    margin: 3% 5%;
    width: 50%;
}


/* FOOTER*/

footer {
    background-color: #313131;
    color: white;
}

@media screen and (max-width: 990px) {
    .contenido-header {}
}