

h6 {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 100%;
    color: #5ac2ff;
    font-weight: 600;
}

.header-sv {
    background-image: url(../images/header-servicios.jpg);
    height: 40vh;
}

.header-mobile {
    display: none;
}


/*--------------- MAIN ---------------------*/

.contenedor {
    max-width: 130rem;
    margin: auto;
    text-align: center;
}


/* --------------------COLUMNAS--------------------------*/

.cards-sv {
    max-width: 85%;
    margin: auto;
}

.sv-cols {
    display: flex;
    justify-content: space-around;
}

.sv-col {
    margin: 4% 1% 0 1%;
}


/*------------------- OTROS SERVICIOS--------------------*/

.otros-sv {
    margin: 4% 5%;
}

.otros-sv h6 {
    font-size: 120%;
}

.otros-svs1 {
    margin: 2%;
    text-align: start;
    display: flex;
    justify-content: space-around;
}

.otros-svs1 img {
    width: 40%;
}

.otros-svs2 {
    margin: 2%;
    text-align: start;
    display: flex;
    justify-content: space-around;
}

.otros-svs2 img {
    width: 40%;
}


/* ------------------------FOOTER--------------------------*/


@media screen and (max-width: 990px) {
    .header-ns {
        background-image: url(../images/header-nosotros.jpg);
        height: 30vh;
    }
    .cards-sv {
        margin: auto;
    }
    .sv-cols {
        display: block;
        margin: auto;
    }
    .card {
        margin: auto;
    }
    .otros-sv {
        margin: auto;
    }
    .otros-svs1 {
        margin: 2%;
        text-align: start;
        display: block;
        justify-content: space-around;
    }
    .otros-svs1 img {
        margin: 2% 0 4% 0;
        width: 100%;
    }
    .otros-svs2 {
        margin: 2%;
        text-align: center;
        display: block;
        padding-bottom: 3%;
    }
}
